
.text-field {
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
}

.loginTxt {
    -fx-pref-width: 362px;
    -fx-pref-height: 60px;
    -fx-font-size: 18px;
}

.loginLabel{
    -fx-font-weight: 700;
    -fx-font-size: 18px;
    -fx-marging: 0px 0px 0px 15px;
}

#messageLabel{
    -fx-text-fill: rgb(137, 0, 6);
}

.loginButton{
    -fx-min-width: 362px;
    -fx-min-height: 60px;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button{
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-: 20px 20px 20px 20px;
    -fx-font-weight: 700;
}

.label{
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-marging: 0px 0px 0px 15px;
}

.section-label{
    -fx-pref-width: 500px;
    -fx-text-fill: rgb(0, 123, 160);
    -fx-padding: 0 0 0 10;
    -fx-font-size: 18px;
}

.main-title{
    -fx-font-size: 30px;
    -fx-text-fill: rgb(5, 7, 143);
}

.calendar-panel{
    -fx-padding: 10 10 10 100;
}

.secundary-title{
    -fx-font-size: 22px;
    -fx-text-fill: rgb(0, 123, 160);
}

.maxmin-txt{
    -fx-pref-width: 100px;
    -fx-max-width: 100px;
}

.table-view .table-cell{
    -fx-pref-height: 40px;
    -fx-font-size: 16px;
    -fx-padding: 7px;

}

.grid {
    -fx-border-color: #c0c0c0;
    -fx-border-width: 1px;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.menuLbl{
    -fx-pref-width: 600px;
    -fx-pref-height:200px;
    -fx-alignment: center;
    -fx-text-fill: rgb(5, 7, 143);
    -fx-font-size: 24px;
}

.mainLbl{
    -fx-pref-width: 980px;
    -fx-pref-height:50px;
    -fx-alignment: center;
    -fx-text-fill: rgb(5, 7, 143);
    -fx-font-size: 28px;
}

#reportMainLbl{
    -fx-pref-width: 400px;
}

.reportLbl{
    -fx-pref-width: 300px;
    -fx-pref-height:50px;
    -fx-alignment: center;
    -fx-text-fill: rgb(0, 4, 29);
    -fx-font-size: 14px;
}

.menuBtn{
    -fx-pref-width: 600px;
    -fx-pref-height:200px;
}

.actionButton{
    -fx-padding: 100px 10px 10px 10px;
    -fx-min-width: 200px;
    -fx-min-height: 40px;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.returnMenuButton{
    -fx-padding: 100px 10px 10px 10px;
    -fx-min-width: 300px;
    -fx-min-height: 40px;
    -fx-background-color:
            #000000,
            linear-gradient(#eab0be, #eaa5ca),
            linear-gradient(#ea6e5e, #ea81c2),
            linear-gradient(#ea4d2f, #ea42bf);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.changeCalendarBtn{
    -fx-padding: 100px 10px 10px 10px;
    -fx-min-width: 100px;
    -fx-min-height: 40px;
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

#calendarTypeCmb{
    -fx-min-width: 200px;
    -fx-min-height: 40px;
}


.monthCalendarGrid{
    -fx-alignment: center ;
    -fx-padding: 10 ;
}

.monthHeadCell{
    -fx-pref-width: 150px;
    -fx-pref-height:30px;
    -fx-padding: 5px 2px 5px 2px;
}

.monthCell{
    -fx-pref-width: 150px;
    -fx-pref-height:80px;
    -fx-padding: 2px 2px 2px 2px;
}

.appointmentMonthSlot{
    -fx-border-color: #720006;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}

.weekHeadCell{
    -fx-pref-width: 200px;
    -fx-pref-height:30px;
    -fx-padding: 10px 2px 10px 10px;
}

.weekCell{
    -fx-pref-width: 200px;
    -fx-pref-height: 400px;
    -fx-padding: 2px 2px 2px 2px;
}


.appointmentWeekSlot{
    -fx-border-color: #720006;
    -fx-border-width: 2;
    -fx-border-style: dashed;
}